{% extends "base.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Регистрация</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
